.red {
    color: red;
}


.wy-side-nav-search {
    background-color: #FFFFFF;
    color: #00FF00;
}


.wy-nav-side {
    background: #676767
}


.wy-side-nav-search > a{
    color: #000000;
}


h2:after
{
    content:' ';
    display:block;
    border:1px solid #c9c9c9;
}
